<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/home.css" />

    <title>Home</title>
  </head>
  <body class="d-flex flex-column vh-100">
    <%- include('partials/navbar') %>

    <main class="container mt-3 mb-3">
      <h1 class="text-center">
        <strong>E-Shopper Admin Portal</strong>

        <div class="row mt-5">
          <div class="col-lg-4 col-md-6 col-12">
            <div class="card mb-2">
              <img
                src="/images/61c371ce3bbcdd0012a06398.webp"
                class="card-img-top"
                alt=""
              />
              <div class="card-body">
                <h5 class="card-title">Product CRUD</h5>
                <p class="card-text"></p>
                <a href="/products" class="btn btn-primary">Go</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-12">
            <div class="card mb-2">
              <img
                src="/images/100-brands-world-logo.jpg"
                class="card-img-top"
                alt=""
              />
              <div class="card-body">
                <h5 class="card-title">Brand CRUD</h5>
                <p class="card-text"></p>
                <a href="/brands" class="btn btn-primary">Go</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-12">
            <div class="card mb-2">
              <img
                src="/images/1 _5FSoA8BiJfjZvNFwHKuKA.png"
                class="card-img-top"
                alt=""
              />
              <div class="card-body">
                <h5 class="card-title">Category CRUD</h5>
                <p class="card-text"></p>
                <a href="/categories" class="btn btn-primary">Go</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 offset-lg-4 col-md-6 col-12">
            <div class="card mb-2">
              <img
                src="/images/pc-components-cpu-gpu-motherboard-cooler-ssd-hand-drawn-memory-modules-system-unit-power-supply-vector-personal-computer-parts-isolated-set_102902-6145.webp"
                class="card-img-top"
                alt=""
              />
              <div class="card-body">
                <h5 class="card-title">Subcategory CRUD</h5>
                <p class="card-text"></p>
                <a href="/subcategories" class="btn btn-primary">Go</a>
              </div>
            </div>
          </div>
        </div>
      </h1>
    </main>

    <%- include('partials/footer') %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
