<% layout('layouts/boilerplate') %>

<div class="row mt-3">
  <h1 class="text-center"><b>Edit Subcategory</b></h1>
  <div class="col-md-6 offset-md-3">
    <form
      action="/subcategories/<%= subcategory.id %>?_method=PUT"
      method="POST"
      novalidate
      class="validated-form"
    >
      <div class="mb-3">
        <label class="form-label" for="name">Name:</label>
        <input
          class="form-control"
          type="text"
          name="subcategory[name]"
          id="name"
          value="<%= subcategory.name %> "
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description:</label>
        <textarea
          class="form-control"
          type="text"
          name="subcategory[description]"
          id="description"
        >
<%= subcategory.description %> </textarea
        >
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <button type="submit" class="btn btn-success btn-block">
          Edit Subcategory
        </button>
      </div>
      <a href="/subcategories">Back To Subcategories</a>
    </form>
  </div>
</div>
