<% layout('layouts/boilerplate') %>

  <div class="row">
    <div class="col-sm-4 col-6">
      <h1><b>Subcategories</b></h1>
    </div>
    <div class="col-sm-4 offset-sm-4 col-6">
      <div class="d-grid gap-2">
        <a href="/subcategories/new" class="btn btn-success"
          ><i class="bi bi-plus-circle"></i> Add Subcategory</a
        >
      </div>
    </div>
  </div>

  <div class="row table-responsive mt-5">
    <table 
    id="example"
    class="display table table-striped table-hover responsive nowrap"
    style="width: 100%">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Category</th>
          <th scope="col">Description</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
    </table>
  </div>
</div>

<%- include("../partials/jQueryScriptsInit") %>
<script>
  let dataSet = <%- JSON.stringify(subcategories) %>;

  $("#example").DataTable({
    data:dataSet,
    dataSrc: "",
    responsive: true,
    columns: [
      { data: "name" },
      { data: "category.name" },
      { data: "description" },
      {
        data: null,
        render: function (data) {
          return (
            `<a href="/subcategories/${data._id}/edit" class="btn btn-primary btn-edit edit card-link"  ><i class="bi bi-pencil-square"></i></a><form
              class="d-inline form-delete"
              action="/subcategories/${data._id}?_method=DELETE"
              method="POST"
            >
              <button class="btn btn-danger">
                <i class="bi bi-trash-fill"></i>
              </button>
            </form>`
          );
        },
      },
    ],
  });
</script>