<% layout('layouts/boilerplate') %>

<div class="container">
  <div class="row mt-3">
    <div class="col-sm-4 col-6">
      <h1><b>Categories</b></h1>
    </div>
    <div class="col-sm-4 offset-sm-4 col-6">
      <div class="d-grid gap-2">
        <a href="/categories/new" class="btn btn-success"
          ><i class="bi bi-plus-circle"></i> Add Category</a
        >
      </div>
    </div>
  </div>

  <form
    class="row row-cols-lg-auto g-3 align-items-center mt-5"
    action="/categories/search"
    method="GET"
  >
    <div class="col-md-5 col-10">
      <input
        class="form-control"
        type="text"
        name="name"
        id="name"
        placeholder="Name"
      />
    </div>
    <div class="col-md-1 col-2 d-grid gap-2">
      <button type="submit" class="btn btn-secondary">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </form>
  <div class="row table-responsive mt-5">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% for(let category of categories){ %>

        <tr>
          <td><%= category.name %></td>
          <td><%= category.description %></td>
          <td>
            <a
              href="/categories/<%= category.id %>/edit"
              class="btn btn-primary card-link"
              ><i class="bi bi-pencil-square"></i>
            </a>
            <form
              class="d-inline"
              action="/categories/<%= category.id %>?_method=DELETE"
              method="POST"
            >
              <button class="btn btn-danger">
                <i class="bi bi-trash-fill"></i>
              </button>
            </form>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
